@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lobster&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e2021;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    height: 520px;
    width: 400px;
    margin: 25px;
    border-radius: 7px;
    background-color: #484e51;
}

#display {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 120px;
    width: 360px;
    margin: 20px;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #222426;
    color: white;
}

#submitted-num{
    height: 40px;
    width: 100%;
    font-size: 25px;
}

#active-num{
    height: 80px;
    width: 100%;
    font-size: 50px;
}

#submitted-num, #active-num {
    text-align: right;
}


#numbers-operators{
    box-sizing: border-box;
    flex-grow: 1;
    width: 360px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
    flex-grow: 1;
    display: flex;
    gap: 5px;
}
button {
    flex-grow: 1;
    border-radius: 7px;
    font-size: 20px;
    border: 1px solid black;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

button:hover {
    background-color: #bfc2c3;
}

button:active {
    background-color: #a9abab;
}

button[data-operator], #equalsBtn {
    background-color: #364842;
    color: white;
}

button[data-operator]:hover, #equalsBtn:hover {
    background-color: #455a53;
}

button[data-operator]:active, #equalsBtn:hover {
    background-color: #3d4e48;
}

#clear, #delete {
    background-color: #873030;
    color: white;
}
#clear:hover {
    background-color: #8d3e3e;
}

#delete:hover {
    background-color: #8d3e3e;
}

#clear:active, #delete:active {
    background-color: #7a3333;
}

footer {
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
}