body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    height: 520px;
    width: 400px;
    margin: 25px;
    border-radius: 5px;
    background-color: #484e51;
}

#display {
    box-sizing: border-box;
    height: 120px;
    width: 360px;
    margin: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #222426;
}

#numbers-operators{
    box-sizing: border-box;
    flex-grow: 1;
    width: 360px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
    flex-grow: 1;
    display: flex;
    gap: 5px;
}
button {
    flex-grow: 1;
    border-radius: 7px;
    font-size: 20px;
}